.services{
padding: 0 3rem 0 3rem;
display: flex;
flex-direction: column;
gap: 2rem;
margin-bottom: 13rem;
margin-top: 9rem;

}
.awesome{
display: flex;
flex-direction: column;
position: relative;
}
.awesome > :nth-child(1){
color: var(--black);
font-size: 2.5rem;
font-weight: bold;
}
.awesome > :nth-child(2){
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}
.awesome > :nth-child(3){
    color: var(--gray);
    font-size: 20px;
    margin-top: 1rem;
}
.s-button{
width: max-content;
height: 2rem;
margin-top: 1rem;
}
.cards{
    position: relative;
}
.cards >*{
    position: absolute;
}
.skills{
    display: flex;
    gap: 2rem;
}
@media (max-width: 550px) {
    .services{    
        margin-top: 0;
        flex-direction: column;
          height: 66rem;
          padding: 0;
          gap: 3rem;
          margin-bottom: 3rem;
    }
    .cards{
        display: flex;
        justify-content: center;
        align-items:flex-start;
        flex-direction: column;
        gap: 17rem;
        margin-left: 2rem;
    }
    .cards>*{
        position:static;
    }
   }