.portfolio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin-top: 5rem;
}

.portfolio span:nth-of-type(1) {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.portfolio span:nth-of-type(2) {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.projects {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--orange) ;
    border-bottom: 2px solid var(--orange);
    width: 100vw;
}

.projects>h2 {
    margin-top: 20px;
}

.project {
    margin-top: 5rem;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
    width: 100vw;
}

.portfolio-slider {
    margin-top: 3rem;
    width: 80%;
    max-width: 1200px;
    height: 500px;

}

.portfolio .swiper {
    overflow: visible !important;
}

.portfolio-slider .swiper-slide {
    width: 40rem;
}

.portfolio img {
    width: 45rem;
    height: 500px;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
    border: 2px solid white;
}

.portfolio-img {
    width: 45rem;
    height: 500px;
    filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
    border-radius: 19px;
}

.portfolio a {
    position: relative;
    top: -10%;
}

.desc {
    margin-top: 5rem;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.mbl-projects {
    display: none;
}

.mbl-portfolio-slider {
    display: none;
}

@media (max-width:700px) {
    .projects {
        display: none;
    }

    .portfolio-slider {
        display: none;
    }

    .mbl-projects {
        display: block;
        background: #ac11d780;
        width: 100vw;
    }

    .mbl-portfolio-slider {
        display: block;
        margin-top: 3rem;
        width: 100%;
        max-width: 80vw;
        height: 300px;
    }

    .portfolio img {
        width: 500px;
        height: 300px;
        filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
        border-radius: 19px;
        border: 2px solid white;
    }
}